<section class="login-main">
    <div class="container">
       <div class="login-innr">
          <div class="brand-logo text-center">
             <a href="javascript:void(0);"><img src="assets/images/logo.png" alt=""></a>
          </div>
          <div class="row align-items-center">
             <div class="col-lg-6 col-md-6 d-none d-lg-block d-xl-block d-md-block">
                <div class="login-img">
                   <img src="assets/images/codeimg.png">
                </div>
             </div>
             <div class="col-lg-1 d-none d-lg-block d-xl-block"></div>
             <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="login-frm">
                   <h3 class="text-white">OTP</h3>
                      <form>
                         <div class="mb-4">
                            <input type="number" class="form-control" placeholder="Enter OTP">
                         </div>
                         <div class="">
                            <button class="btn" type="button">Submit</button>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>