<div class="brand-logo text-center prfl-logo">
    <a href="javascript:void(0);"><img src="assets/images/logo.png" alt=""></a>
 </div>
 <section class="">
    <div class="user-bg">
       <div class="container-fluid">
          <div class="row">
             <div class="col-lg-3 col-md-3">
                <div class="profile-bar">
                   <img src="assets/images/avtar.png" alt="">
                   <h3>Pargat singh bhanjal</h3>
                   <p>parget14hotmail.com</p>
                   <p><i class="fab fa-github me-2"></i> pargat-dhanjal</p>
                   <a href="javascript:void(0);" class="main-btn w-100">Logout</a>
                </div>
             </div>
             <div class="col-lg-9 col-md-9">
                <div class="stats-bar">
                   <h4 class="head">Github Stats</h4>
                   <div class="row align-items-center">
                      <div class="col-lg-6">
                         <div class="stats-innr">
                            <h5>Pargat Singh Dhanjal's github stats</h5>
                            <div class="stats-innr-card">
                               <ul class="stats-innr-list">
                                  <li><span>Total Stars: Earned</span> <span>10</span></li>
                                  <li><span>Total Commits:</span> <span>553</span></li>
                                  <li><span>Total PRS:</span> <span>18</span></li>
                                  <li><span>Total Issues:</span> <span>9</span></li>
                                  <li><span>Contributed to (last year):</span> <span>17</span></li>
                               </ul>
                               <div class="circle">
                                  A+
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-6">
                         <div class="stats-innr stats-rgt">
                            <ul class="row">
                               <li class="col-lg-4 col-md-4 col-sm-4 col-4">
                                  <h2>623</h2>
                                  <p>Total Contributions</p>
                                  <p class="text-white">Aug 23 , 2019 - Present</p>
                               </li>
                               <li class="col-lg-4 col-md-4 col-sm-4 col-4">
                                  <span>1</span>
                                  <em class="fab fa-hotjar"></em>
                                  <p>Current Streak</p>
                                  <P class="text-white">May 7</P>
                               </li>
                               <li class="col-lg-4 col-md-4 col-sm-4 col-4">
                                  <h2>30</h2>
                                  <p>Longest Streak</p>
                                  <p class="text-white">Jan 4 - Feb 2</p>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                   <div class="myfiles">
                      <h4 class="head">My Files </h4>
                      <div class="row">
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="myfiles-innr">
                               <p class="text-white">Name :<span>Knapsack</span></p>
                               <p class="text-white">Lang :<span>cpp</span></p>
                               <p class="date">
                                  <span>Date:03/05/2023</span>
                                  <a href="javascript:void(0);" class="text-danger"><i class="fas fa-trash"></i></a>
                               </p>
                            </div>
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="myfiles-innr">
                               <p class="text-white">Name :<span>Knapsack</span></p>
                               <p class="text-white">Lang :<span>cpp</span></p>
                               <p class="date">
                                  <span>Date:03/05/2023</span>
                                  <a href="javascript:void(0);" class="text-danger"><i class="fas fa-trash"></i></a>
                               </p>
                            </div>
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="myfiles-innr">
                               <p class="text-white">Name :<span>Knapsack</span></p>
                               <p class="text-white">Lang :<span>cpp</span></p>
                               <p class="date">
                                  <span>Date:03/05/2023</span>
                                  <a href="javascript:void(0);" class="text-danger"><i class="fas fa-trash"></i></a>
                               </p>
                            </div>
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="myfiles-innr">
                               <p class="text-white">Name :<span>Knapsack</span></p>
                               <p class="text-white">Lang :<span>cpp</span></p>
                               <p class="date">
                                  <span>Date:03/05/2023</span>
                                  <a href="javascript:void(0);" class="text-danger"><i class="fas fa-trash"></i></a>
                               </p>
                            </div>
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="myfiles-innr myfiles-add">
                               <a href="javascript:void(0);">
                                  <i class="fas fa-plus"></i>
                               </a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>